<div id="container">
  <div class=".container">
    <h1> 新規投稿</h1>
    <%= form_with model: @question, url: questions_path, method: "POST", local: true do |form| %>
    <div class="form-group">
      <%= form.label :title, "【質問】", class: "form-label" %>
      <%= form.text_area :title, required: true, class: "form-control initial-height", rows: 3 %>
    </div>
    <div class="form-group">
      <%= form.label :content, "【詳細】", class: "form-label" %>
      <%= form.text_area :content, required: true, class: "form-control initial-height", rows: 5 %>
    </div>
    <div class="form-group">
      <%= form.submit('送信',class: 'btn btn-primary btn-block btn-lg') %>
    </div>
    <% end %>
  </div>

  <section id="questions">
    <div class="container">
      <% @questions.each do |question| %>
        <div class="questions-container">
          <a href="/questions/<%= question[:id] %>">
            <div class="question">
              <div class="row">
                <div class="col-md-7">
                  <div class="title-container">
                    <p class="title"><%= question.title %></p>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="info text-right">
                    <p>質問日　<%= l question.updated_at, format: :default %></p>
                    <p><%= question.views %>&nbsp;views</p>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      <% end %>
    </div>
  </section>

</div>
